<div class="jumbotron">
    <h1>Prototype</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Personnes</h2>
        <p><a class="btn btn-default" href="/Pages/Personne.html">Liste personnes</a></p>
    </div>
    <div class="col-md-4">
        <h2>Agences</h2>
        <p><a class="btn btn-default" >Not implemented</a></p>
    </div>
    <div class="col-md-4">
        <h2>Frais</h2>
        <p><a class="btn btn-default" >Not implemented</a></p>
    </div>
</div>
