<div class="jumbotron">
    <h1>MasterMission</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Personnes</h2>
        <p><a class="btn btn-default" href="/Pages/Personnes/PersonneList.html">Liste personnes</a></p>
    </div>
    <div class="col-md-4">
        <h2>Véhicules</h2>
        <p><a class="btn btn-default" href="/Pages/Vehicules/VehiculeList.html">Liste des véhicules</a></p>
    </div>
    <div class="col-md-4">
        <h2>Frais</h2>
        <p><a class="btn btn-default" >Not implemented</a></p>
    </div>
</div>
